html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-20%);
}

.joogle {
  font-weight: 500;
  font-size: 5rem;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  color: #b3b7bc;
  font-size: 1.25rem;
  transform: translateX(40px);
}

.search {
  font-size: 1rem;
  border: 1px solid #ededed;
  padding: 0.85rem 3rem;
  border-radius: 2rem;
  width: 54%;
}

.search:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
